<div
  class="min-h-screen flex flex-col gap-8 p-4 bg-clear text-white"
  *ngIf="weather && weather.current && weather.forecast && weather.location"
>
  <div class="flex flex-col items-center gap-2 text-white drop-shadow-lg">
    <span class="text-2xl">{{ weather.location.name }}</span>
    <span class="text-4xl">{{ weather.current.temp_c | roundFloor }} º</span>
    <div class="flex gap-4">
      <span
        >สูงสุด
        {{ weather.forecast.forecastday[0].day.maxtemp_c | roundFloor }} º</span
      >
      <span
        >ต่ำสุด
        {{ weather.forecast.forecastday[0].day.mintemp_c | roundFloor }} º</span
      >
    </div>
  </div>
  <div
    class="flex lg:grid lg:grid-cols-12 gap-4 p-2 rounded-xl overflow-auto backdrop-blur-sm bg-blue-200/25 hide-scrollbar text-white"
  >
    <div
      *ngFor="let hour of weather.forecast.forecastday[0].hour"
      class="flex flex-col items-center gap-2 p-2 rounded-lg bg-blue-200/25"
    >
      <span class="text-sm">{{
        hour.time_epoch / 3600 === now
          ? "ตอนนี้"
          : (hour.time.split(" ")[1] | clock12)
      }}</span>
      <div class="size-12 relative">
        <img
          [src]="hour.condition.icon"
          class="w-full h-full object-cover"
          alt=""
        />
      </div>
      <span>{{ hour.temp_c | roundFloor }} º</span>
    </div>
  </div>
  <div
    class="px-4 divide-y lg:divide-none divide-blue-200 rounded-xl bg-blue-200/25 backdrop-blur-sm lg:grid grid-cols-7 lg:gap-8"
  >
    <div
      class="py-2 grid grid-cols-4 items-center"
      *ngFor="let fday of weather.forecast.forecastday"
    >
      <span class="lg:col-span-2">{{ fday.date | today | weekday }}</span>
      <div class="size-8 relative lg:col-span-2">
        <img
          [src]="fday.day.condition.icon"
          class="w-full h-full object-cover"
          alt=""
        />
      </div>
      <div
        class="col-span-2 lg:col-span-4 flex gap-2 place-items-center text-xs"
      >
        <span>{{ fday.day.mintemp_c | roundFloor }} º</span>
        <div class="grow bg-blue-200 h-2 rounded-full relative">
          <div
            class="h-2 rounded-full bg-blue-400 absolute top-0"
            [style.left]="
              ((fday.day.mintemp_c - minTemp) * 100) / (maxTemp - minTemp) + '%'
            "
            [style.right]="
              100 -
              ((fday.day.maxtemp_c - minTemp) * 100) / (maxTemp - minTemp) +
              '%'
            "
          ></div>
        </div>
        <span>{{ fday.day.maxtemp_c | roundFloor }} º</span>
      </div>
    </div>
  </div>

  <div
    class="p-2 bg-blue-200/25 backdrop-blur-sm rounded-xl grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-8 gap-2"
  >
    <UVIndex [uv]="weather.current.uv" />
    <SunAppearance
      [sunrise]="weather.forecast.forecastday[0].astro.sunrise"
      [sunset]="weather.forecast.forecastday[0].astro.sunset"
    />
    <FeelLike
      [currentTemp]="weather.current.temp_c"
      [feelLike]="weather.current.feelslike_c"
    />
    <Humudity [humidity]="weather.current.humidity" />
    <Precipation [precipation]="weather.current.precip_mm" />
    <Wind
      [speed]="weather.current.wind_kph"
      [direction]="weather.current.wind_dir"
      [degree]="weather.current.wind_degree"
    />
    <Pressure [pressure]="weather.current.pressure_mb" />
    <Vision [vision]="weather.current.vis_km" />
  </div>
</div>
